In [51]:
import pandas as pd
import os
import re
from functools import reduce

from pyspark.sql import SparkSession, DataFrame
from pyspark.sql.functions import udf

### Step 1: Scope the Project and Gather Data

#### Scope 

The goal is to create an ETL pipeline using the Udacity provided I94 immigration dataset and the city temperature data from Kaggle to allow users to make queries to see there is a correlation between destination temperature and immigration statistics.

#### Describe and Gather Data 

The I94 immigration data comes from the US National Tourism and Trade Office. It is provided in SAS7BDAT format which is a binary database storage format. Some relevant attributes include:

    i94yr = 4 digit year
    i94mon = numeric month
    i94cit = 3 digit code of origin city
    i94port = 3 character code of destination USA city
    arrdate = arrival date in the USA
    i94mode = 1 digit travel code
    depdate = departure date from the USA
    i94visa = reason for immigration

The temperature data comes from Kaggle. It is provided in csv format. Some relevant attributes include:

    AverageTemperature = average temperature
    City = city name
    Country = country name
    Latitude= latitude
    Longitude = longitude

In [11]:
sas_filenames = [os.path.join(os.getcwd(), 'data/18-83510-I94-Data-2016', fn) for fn in os.listdir('data/18-83510-I94-Data-2016')]
sas_header_file = 'data/I94_SAS_Labels_Descriptions.SAS'

In [12]:
sas_filenames

['/Users/krchia/udacity-capstone/data/18-83510-I94-Data-2016/i94_nov16_sub.sas7bdat',
 '/Users/krchia/udacity-capstone/data/18-83510-I94-Data-2016/i94_dec16_sub.sas7bdat',
 '/Users/krchia/udacity-capstone/data/18-83510-I94-Data-2016/i94_sep16_sub.sas7bdat',
 '/Users/krchia/udacity-capstone/data/18-83510-I94-Data-2016/i94_aug16_sub.sas7bdat',
 '/Users/krchia/udacity-capstone/data/18-83510-I94-Data-2016/i94_may16_sub.sas7bdat',
 '/Users/krchia/udacity-capstone/data/18-83510-I94-Data-2016/i94_jun16_sub.sas7bdat',
 '/Users/krchia/udacity-capstone/data/18-83510-I94-Data-2016/i94_oct16_sub.sas7bdat',
 '/Users/krchia/udacity-capstone/data/18-83510-I94-Data-2016/i94_apr16_sub.sas7bdat',
 '/Users/krchia/udacity-capstone/data/18-83510-I94-Data-2016/i94_jan16_sub.sas7bdat',
 '/Users/krchia/udacity-capstone/data/18-83510-I94-Data-2016/i94_jul16_sub.sas7bdat',
 '/Users/krchia/udacity-capstone/data/18-83510-I94-Data-2016/i94_mar16_sub.sas7bdat',
 '/Users/krchia/udacity-capstone/data/18-83510-I94-Data-2016/i94_feb16_sub.sas7bdat']

In [13]:
exploratory_file = sas_filenames[0]
df = pd.read_sas(exploratory_file, 'sas7bdat', encoding="ISO-8859-1")

In [21]:
with open(sas_header_file) as f:
    lines = f.readlines()    

comments = [line for line in lines if '/*' in line and '*/\n' in line]
regexp = re.compile(r'^/\*\s+(?P<code>.+?)\s+-\s+(?P<description>.+)\s+\*/$')
matches = [regexp.match(c) for c in comments]

for m in matches:
    print(m.group("code"), ":", m.group('description'))

I94YR : 4 digit year
I94MON : Numeric month
I94CIT & I94RES : This format shows all the valid and invalid codes for processing
I94PORT : This format shows all the valid and invalid codes for processing
I94MODE : There are missing values as well as not reported (9)
I94BIR : Age of Respondent in Years
COUNT : Used for summary statistics
DTADFILE : Character Date Field - Date added to I-94 Files - CIC does not use
VISAPOST : Department of State where where Visa was issued - CIC does not use
OCCUP : Occupation that will be performed in U.S. - CIC does not use
ENTDEPA : Arrival Flag - admitted or paroled into the U.S. - CIC does not use
ENTDEPD : Departure Flag - Departed, lost I-94 or is deceased - CIC does not use
ENTDEPU : Update Flag - Either apprehended, overstayed, adjusted to perm residence - CIC does not use
MATFLAG : Match flag - Match of arrival and departure records
BIRYEAR : 4 digit year of birth
DTADDTO : Character Date Field - Date to which admitted to U.S. (allowed to stay until) - CIC does not use
GENDER : Non-immigrant sex
INSNUM : INS number
AIRLINE : Airline used to arrive in U.S.
ADMNUM : Admission Number
FLTNO : Flight number of Airline used to arrive in U.S.
VISATYPE : Class of admission legally admitting the non-immigrant to temporarily stay in U.S.

In [37]:
### i94_port_lines = (303, 962)
re_obj = re.compile(r'\'(.*)\'.*\'(.*)\'')
valid_ports = {}
for line in lines[302:961]:
    match = re_obj.search(line)
    valid_ports[match.group(1)]=[match.group(2)]
from pprint import pprint
pprint(valid_ports)

{'.GA': ['No PORT Code (.GA)'],
 '060': ['No PORT Code (60)'],
 '48Y': ['PINECREEK BORDER ARPT, MN'],
 '5KE': ['KETCHIKAN, AK'],
 '5T6': ['No PORT Code (5T6)'],
 '74S': ['No PORT Code (74S)'],
 '888': ['UNIDENTIFED AIR / SEAPORT'],
 'A2A': ['No PORT Code (A2A)'],
 'ABE': ['ABERDEEN, WA          '],
 'ABG': ['ALBURG, VT            '],
 'ABQ': ['ALBUQUERQUE, NM       '],
 'ABS': ['ALBURG SPRINGS, VT    '],
 'ACY': ['POMONA FIELD - ATLANTIC CITY, NJ'],
 'ADS': ['ADDISON AIRPORT- ADDISON, TX'],
 'ADT': ['AMISTAD DAM, TX       '],
 'ADU': ['No PORT Code (ADU)'],
 'ADW': ['ANDREWS AFB, MD'],
 'AFW': ['FORT WORTH ALLIANCE, TX'],
 'AG': ['No PORT Code (AG)'],
 'AG0': ['MAGNOLIA, AR'],
 'AGA': ['AGANA, GU             '],
 'AGM': ['ALGOMA, WI            '],
 'AGN': ['ALGONAC, MI           '],
 'AGS': ['BUSH FIELD - AUGUSTA, GA'],
 'AGU': ['AGUADILLA, PR         '],
 'AKR': ['AKRON, OH             '],
 'AKT': ['No PORT Code (AKT)'],
 'ALA': ['ALAMAGORDO, NM (BPS)'],
 'ALB': ['ALBANY, NY            '],
 'ALC': ['ALCAN, AK             '],
 'ALP': ['ALPENA, MI            '],
 'AMB': ['AMBROSE, ND           '],
 'AMS': ['AMSTERDAM-SCHIPHOL, NETHERLANDS'],
 'AMT': ['No PORT Code (AMT)'],
 'ANA': ['ANACORTES, WA         '],
 'ANC': ['ANCHORAGE, AK         '],
 'AND': ['ANDRADE, CA           '],
 'ANP': ['ANTELOPE WELLS, NM    '],
 'ANT': ['ANTLER, ND            '],
 'ANZ': ['ANZALDUAS, TX'],
 'APA': ['ARAPAHOE COUNTY, CO'],
 'APF': ['NAPLES, FL #ARPT'],
 'ARB': ['ARUBA, NETH ANTILLES  '],
 'ASE': ['ASPEN, CO #ARPT'],
 'ASI': ['No PORT Code (ASI)'],
 'AST': ['ASTORIA, OR           '],
 'ATB': ['ASHTABULA, OH         '],
 'ATL': ['ATLANTA, GA           '],
 'ATW': ['No PORT Code (ATW)'],
 'AUH': ['No PORT Code (AUH)'],
 'AUS': ['AUSTIN, TX            '],
 'AXB': ['ALEXANDRIA BAY, NY    '],
 'BAL': ['BALTIMORE, MD         '],
 'BAN': ['BANKOK, THAILAND      '],
 'BAR': ['BAKER AAF - BAKER ISLAND, AK'],
 'BAU': ['BAUDETTE, MN          '],
 'BAY': ['BAYFIELD, WI          '],
 'BBP': ['BIG BEND PARK, TX (BPS)'],
 'BCK': ['BUCKPORT, ME          '],
 'BCM': ['No PORT Code (BCM)'],
 'BCY': ['BAY CITY, MI          '],
 'BDA': ['KINDLEY FIELD, BERMUDA'],
 'BDL': ['BRADLEY INTERNATIONAL, CT'],
 'BEA': ['BEAUMONT, TX          '],
 'BEB': ['BEEBE PLAIN, VT       '],
 'BED': ['HANSCOM FIELD - BEDFORD, MA'],
 'BEE': ['BEECHER FALLS, VT     '],
 'BEI': ['BEICA #ARPT, ETHIOPIA'],
 'BEL': ['BELLINGHAM, WA        '],
 'BFL': ['MEADOWS FIELD - BAKERSFIELD, CA'],
 'BGC': ['BRIDGEPORT, CT        '],
 'BGM': ['BANGOR, ME            '],
 'BHM': ['BAR HARBOR, ME'],
 'BHX': ['BIRMINGHAM, AL'],
 'BIL': ['BILLINGS, MT          '],
 'BKF': ['No PORT Code (BKF)'],
 'BLA': ['BLAINE, WA            '],
 'BLF': ['MERCER COUNTY, WV'],
 'BLI': ['BELLINGHAM, WASHINGTON #INTL'],
 'BLT': ['PACIFIC, HWY. STATION, CA '],
 'BOA': ['BRIDGE OF AMERICAS, TX'],
 'BOC': ['BOCAGRANDE, FL        '],
 'BOG': ['BOGOTA, EL DORADO #ARPT, COLOMBIA'],
 'BOI': ['AIR TERM. (GOWEN FLD) BOISE, ID'],
 'BOO': ['BOOTHBAY HARBOR, ME   '],
 'BOS': ['BOSTON, MA            '],
 'BQN': ['BORINQUEN - AGUADILLO, PR'],
 'BRG': ['BURLINGTON, VT        '],
 'BRO': ['BROWNSVILLE, TX       '],
 'BRU': ['BRUNSWICK, GA         '],
 'BTC': ['BP TACTICAL UNIT, TX  '],
 'BTM': ['BUTTE, MT             '],
 'BTN': ['BATON ROUGE, LA       '],
 'BUF': ['BUFFALO, NY           '],
 'BUR': ['BURBANK, CA'],
 'BUS': ['Collapsed (BUF) 06/15'],
 'BWA': ['BOUNDARY, WA          '],
 'BWM': ['BRIDGEWATER, ME       '],
 'BYO': ['BAYONNE, NJ           '],
 'BZN': ['GALLATIN FIELD - BOZEMAN, MT'],
 'CAE': ['COLUMBIA, SC #ARPT'],
 'CAK': ['AKRON, OH'],
 'CAL': ['CALEXICO, CA          '],
 'CAN': ['CAPE CANAVERAL, FL    '],
 'CAO': ['CAMPO, CA             '],
 'CAP': ['CAPE VINCENT, NY      '],
 'CAR': ['CARIBOU MUNICIPAL AIRPORT, MN'],
 'CDD': ['CRANE LAKE - ST. LOUIS CNTY, NM'],
 'CHA': ['CHARLOTTE AMALIE, VI  '],
 'CHF': ['CHIEF MT, MT          '],
 'CHI': ['CHICAGO, IL           '],
 'CHL': ['CHARLESTON, SC        '],
 'CHM': ['CHAMPLAIN, NY         '],
 'CHN': ['No PORT Code (CHN)'],
 'CHO': ['ALBEMARLE CHARLOTTESVILLE, VA'],
 'CHR': ['CHRISTIANSTED, VI     '],
 'CHS': ['CHARLESTON, WV        '],
 'CHT': ['CHATEAUGAY, NY        '],
 'CID': ['CEDAR RAPIDS/IOWA CITY, IA'],
 'CIN': ['CINCINNATI, OH        '],
 'CLA': ['CLAYTON, NY           '],
 'CLE': ['CLEVELAND, OH         '],
 'CLG': ['CALGARY, CANADA       '],
 'CLK': ['CLARKSBURG, WV        '],
 'CLM': ['COLUMBUS, OH          '],
 'CLS': ['CALAIS, ME   '],
 'CLT': ['CHARLOTTE, NC         '],
 'CLX': ['No PORT Code (CLX)'],
 'CNA': ['CANAAN, VT            '],
 'CNC': ['CANNON CORNERS, NY'],
 'CND': ['KOGALNICEANU, ROMANIA'],
 'CNH': ['CANNON CORNERS, NY'],
 'CNJ': ['CAMDEN, NJ            '],
 'COB': ['COBURN GORE, ME       '],
 'COL': ['COLUMBUS, NM          '],
 'COO': ['COOS BAY, OR          '],
 'COS': ['COLORADO SPRINGS, CO'],
 'CP ': ['No PORT Code (CP)'],
 'CPX': ['No PORT Code (CPX)'],
 'CRA': ['CRANE LAKE, MN        '],
 'CRB': ['CARIBOU, ME           '],
 'CRL': ['CARLSBAD, NM          '],
 'CRP': ['CORPUS CHRISTI, TX    '],
 'CRQ': ['CARAVELAS, BA #ARPT, BRAZIL'],
 'CRU': ['CRUZ BAY, ST JOHN, VI '],
 'CRY': ['CARBURY, ND           '],
 'CSP': ['CASPER, WY            '],
 'CTB': ['CUT BANK MUNICIPAL, MT'],
 'CUN': ['CANCUN, MEXICO'],
 'CUR': ['CURLEW, WA (BPS)'],
 'CUT': ['CUT BANK, MT          '],
 'CXO': ['No PORT Code (CXO)'],
 'DAA': ['DAVISON AAF - FAIRFAX CNTY, VA'],
 'DAB': ['DAYTONA BEACH INTERNATIONAL, FL'],
 'DAC': ['DALTONS CACHE, AK     '],
 'DAL': ['DALLAS, TX            '],
 'DAY': ['No PORT Code (DAY)'],
 'DEC': ['No PORT Code (DEC)'],
 'DEN': ['DENVER, CO            '],
 'DER': ['DERBY LINE, VT (I-91) '],
 'DET': ['DETROIT, MI           '],
 'DLB': ['DEL BONITA, MT        '],
 'DLR': ['DEL RIO, TX           '],
 'DLV': ['DERBY LINE, VT (RT. 5)'],
 'DNA': ['DONNA, TX'],
 'DNM': ['DEMING, NM (BPS)'],
 'DNS': ['DUNSEITH, ND          '],
 'DOU': ['DOUGLAS, AZ           '],
 'DOV': ['DOVER AFB, DE'],
 'DPA': ['DUPAGE COUNTY, IL'],
 'DRO': ['LA PLATA - DURANGO, CO'],
 'DRV': ['No PORT Code (DRV)'],
 'DSM': ['DES MOINES, IA'],
 'DTH': ['DUTCH HARBOR, AK      '],
 'DUB': ['DUBLIN, IRELAND       '],
 'DUL': ['DULUTH, MN            '],
 'DUR': ['LOUIS BOTHA, SOUTH AFRICA'],
 'DVD': ['DOVER-AFB, DE         '],
 'DVL': ['DANVILLE, WA          '],
 'EDA': ['EDMONTON, CANADA      '],
 'EGE': ['No PORT Code (EGE)'],
 'EGL': ['EAGLE, AK             '],
 'EGP': ['EAGLE PASS, TX        '],
 'ELM': ['REGIONAL ARPT - HORSEHEAD, NY'],
 'ELP': ['EL PASO, TX           '],
 'ELY': ['ELY, MN               '],
 'ENS': ['ENSENADA, PR          '],
 'EPI': ['EASTPORT, ID          '],
 'EPM': ['EASTPORT, ME          '],
 'EPT': ['EASTPORT MUNICIPAL, ME'],
 'ERC': ['EAST RICHFORD, VT     '],
 'ERI': ['ERIE, PA              '],
 'EST': ['EASTCOURT, ME         '],
 'EUR': ['EUREKA, MT (BPS)'],
 'EVE': ['EVERETT, WA           '],
 'EZE': ['BUENOS AIRES, MINISTRO PIST, ARGENTINA'],
 'FAB': ['FABENS, TX            '],
 'FAJ': ['FAJARDO, PR           '],
 'FAL': ['FALCON HEIGHTS, TX    '],
 'FAR': ['FARGO, ND             '],
 'FAY': ['FAYETTEVILLE, NC'],
 'FBA': ['FREEPORT, BAHAMAS      '],
 'FCA': ['GLACIER NATIONAL PARK, MT'],
 'FER': ['FERRY, WA             '],
 'FLX': ['FALLON MUNICIPAL AIRPORT, NV'],
 'FMY': ['FORT MYERS, FL        '],
 'FOK': ['SUFFOLK COUNTY, NY'],
 'FOP': ['MORRIS FIELDS AAF, NC'],
 'FOR': ['FOREST CITY, ME       '],
 'FOU': ['FOUGAMOU #ARPT, GABON'],
 'FPF': ['FORT PIERCE, FL       '],
 'FPR': ['ST LUCIE COUNTY, FL'],
 'FPT': ['FREEPORT, TX          '],
 'FRB': ['FAIRBANKS, AK         '],
 'FRE': ['FRESNO, CA            '],
 'FRG': ['Collapsed (FOK) 06/15'],
 'FRI': ['FRIDAY HARBOR, WA     '],
 'FRK': ['FREDERIKSTED, VI      '],
 'FRN': ['FERNANDINA, FL        '],
 'FRT': ['FORTUNA, ND           '],
 'FSC': ['No PORT Code (FSC)'],
 'FTB': ['No PORT Code (FTB)'],
 'FTC': ['FORT COVINGTON, NY    '],
 'FTF': ['FORT FAIRFIELD, ME    '],
 'FTH': ['FORT HANCOCK, TX      '],
 'FTK': ['FORT KENT, ME         '],
 'FTL': ['FORT LAUDERDALE, FL   '],
 'FWA': ['FRONTIER, WA          '],
 'GAC': ['No PORT Code (GAC)'],
 'GAL': ['GALVESTON, TX         '],
 'GAR': ['GARY, IN              '],
 'GCM': ['GRAND CAYMAN, CAYMAN ISLAND'],
 'GDL': ['GUADALAJARA, MIGUEL HIDAL, MX'],
 'GEO': ['GEORGETOWN, SC        '],
 'GGW': ['GLASGOW, MT           '],
 'GLO': ['GLOUCESTER, MA        '],
 'GMT': ['No PORT Code (GMT)'],
 'GNV': ['J R ALISON MUNI - GAINESVILLE, FL'],
 'GPI': ['No PORT Code (GPI)'],
 'GPM': ['GRAND PORTAGE, MN     '],
 'GPT': ['BILOXI REGIONAL, MS'],
 'GRB': ['GREEN BAY, WI         '],
 'GRE': ['GREAT FALLS, MT       '],
 'GRF': ['GRAND FORKS, ND       '],
 'GRO': ['GROSSE ISLE, MI       '],
 'GRP': ['GRAND RAPIDS, MI'],
 'GRR': ['GREER, SC'],
 'GRT': ['GROTON, CT            '],
 'GRU': ['GUARULHOS INTL, SAO PAULO, BRAZIL'],
 'GSO': ['PIEDMONT TRIAD INTL AIRPORT, NC'],
 'GSP': ['GREENVILLE, SC'],
 'GTF': ['Collapsed into INT, MN'],
 'GTR': ['GOLDEN TRIANGLE LOWNDES CNTY, MS'],
 'GUL': ['GULFPORT, MS          '],
 'HAL': ['Halifax, NS, Canada   '],
 'HAM': ['HAMILTON, BERMUDA     '],
 'HAR': ['HARTFORD, CT          '],
 'HEF': ['MANASSAS, VA #ARPT'],
 'HEL': ['HELENA, MT            '],
 'HHW': ['HONOLULU, HI          '],
 'HID': ['HIDALGO, TX           '],
 'HIG': ['HIGHGATE SPRINGS, VT  '],
 'HIL': ['SHILLAVO, ETHIOPIA'],
 'HIO': ['HILLSBORO, OR'],
 'HLG': ['HARLINGEN, TX         '],
 'HML': ['HAMIIN, ME            '],
 'HMM': ['HAMMOND, IN           '],
 'HMO': ['GEN PESQUEIRA GARCIA, MX'],
 'HNN': ['HANNAH, ND            '],
 'HNS': ['HANSBORO, ND          '],
 'HOB': ['HOBOKEN, NJ           '],
 'HOM': ['HOMER, AK             '],
 'HON': ['HOWES REGIONAL ARPT - HURON, SD'],
 'HOP': ['HOPEWELL, VA          '],
 'HOU': ['HOUSTON, TX           '],
 'HPN': ['WESTCHESTER - WHITE PLAINS, NY'],
 'HRL': ['Collapsed (HLG) 06/15'],
 'HSB': ['HARRISONBURG, PA      '],
 'HSV': ['MADISON COUNTY - HUNTSVILLE, AL'],
 'HTM': ['HOULTON, ME           '],
 'HUM': ['HUMACAO, PR           '],
 'HUR': ['HURLBURT FIELD, FL'],
 'HVR': ['HAVRE, MT             '],
 'HYD': ['HYDER, AK             '],
 'IAG': ['Collapsed (NIA) 06/15'],
 'ICN': ['INCHON, SEOUL KOREA'],
 'ICP': ['IMPERIAL COUNTY, CA   '],
 'ICT': ['MID-CONTINENT - WITCHITA, KS'],
 'IDA': ['FANNING FIELD - IDAHO FALLS, ID'],
 'IND': ['LOS INDIOS, TX'],
 'INL': ['Collapsed into INT, MN'],
 'INP': ['INDIANAPOLIS, IN      '],
 "INT'\t=\t'INT": ['L FALLS, MN      '],
 'ISB': ['PORT ISABEL, TX       '],
 'ISL': ['ISLE ROYALE, MI       '],
 'ISP': ['Collapsed (FOK) 06/15'],
 'IWA': ['INVALID - IWAKUNI, JAPAN'],
 'JAC': ['JACKSONVILLE, FL      '],
 'JAN': ['THOMPSON FIELD - JACKSON, MS'],
 'JBQ': ['No PORT Code (JBQ)'],
 'JCP': ['CULEBRA - BENJAMIN RIVERA, PR'],
 'JER': ['JERSEY CITY, NJ       '],
 'JFA': ['No PORT Code (JFA)'],
 'JIG': ['No PORT Code (JIG)'],
 'JKM': ['JACKMAN, ME           '],
 'JMZ': ['No PORT Code (JMZ)'],
 'JOB': ['JOBOS, PR             '],
 'JSJ': ['Collapsed (SAJ) 06/15'],
 'JUN': ['JUNEAU, AK            '],
 'KAL': ['KALISPEL, MT          '],
 'KAN': ['KANSAS CITY, MO       '],
 'KET': ['KETCHIKAN, AK         '],
 'KEY': ['KEY WEST, FL          '],
 'KLM': ['KALAMA, WA            '],
 'KOA': ['KEAHOLE-KONA, HI      '],
 'LAG': ['LA GUARDIA, NY        '],
 'LAH': ['LABUHA ARPT, INDONESIA'],
 'LAK': ['LAKE CHARLES, LA (BPS)'],
 'LAN': ['LANCASTER, MN         '],
 'LAR': ['LAREDO, TX            '],
 'LAS': ['LAS CRUCES, NM        '],
 'LAU': ['LAURIER, WA           '],
 'LCB': ['LAREDO COLUMBIA BRIDGE, TX'],
 'LEB': ['LEBANON, NH           '],
 'LEE': ['LEESBURG MUNICIPAL AIRPORT, FL'],
 'LEW': ['LEWISTON, NY          '],
 'LEX': ['BLUE GRASS - LEXINGTON, KY'],
 'LGU': ['CACHE AIRPORT - LOGAN, UT'],
 'LGW': ['WEST SUSSEX, ENGLAND  '],
 'LHR': ['MIDDLESEX, ENGLAND'],
 'LIA': ['LITTLE ROCK, AR (BPS)'],
 'LIH': ['LIHUE, HI             '],
 'LIM': ['LIMESTONE, ME         '],
 'LIN': ['NORTHERN SVC CENTER, MN   '],
 'LIT': ['No PORT Code (LIT)'],
 'LKC': ['LAKE CHARLES, LA      '],
 'LLB': ['JUAREZ-LINCOLN BRIDGE, TX'],
 'LNB': ['LONG BEACH, CA         '],
 'LND': ['LANDER, WY'],
 'LOB': ['LORDSBURG, NM (BPS)'],
 'LOI': ['LOS INDIOS, TX        '],
 'LON': ['LONGVIEW, WA          '],
 'LOR': ['LORAIN, OH            '],
 'LOS': ['LOS ANGELES, CA       '],
 'LOU': ['LOUISVILLE, KY        '],
 'LRN': ['LAREDO NORTH, TX      '],
 'LSE': ['LOS EBANOS, TX        '],
 'LUB': ['LUBEC, ME             '],
 'LUK': ['LUKEVILLE, AZ         '],
 'LVG': ['LAS VEGAS, NV         '],
 'LWT': ['LEWISTON, MT          '],
 'LYN': ['LYNDEN, WA            '],
 'MAA': ['Abu Dhabi'],
 'MAD': ['MADAWASKA, ME         '],
 'MAF': ['ODESSA REGIONAL, TX'],
 'MAG': ['MCGUIRE AFB, NY       '],
 'MAI': ['MAIDA, ND             '],
 'MAL': ['MANGOLE ARPT, INDONESIA'],
 'MAP': ['MARIPOSA AZ           '],
 'MAR': ['MARFA, TX'],
 'MAS': ['MASSENA, NY           '],
 'MAY': ['MAYAGUEZ, PR          '],
 'MBO': ['MARBLE HEADS, OH      '],
 'MCA': ['MCALLEN, TX           '],
 'MDE': ['MEDELLIN, COLOMBIA'],
 'MDT': ['HARRISBURG, PA'],
 'MED': ['MEDFORD, OR           '],
 'MEM': ['MEMPHIS, TN           '],
 'MET': ['METALINE FALLS, WA    '],
 'MEX': ['JUAREZ INTL, MEXICO CITY, MX'],
 'MGC': ['MORGAN CITY, LA       '],
 'MGM': ['MORGAN, MT            '],
 'MHT': ['MANCHESTER, NH'],
 'MIA': ['MIAMI, FL             '],
 'MIC': ['CRYSTAL MUNICIPAL AIRPORT, MN'],
 'MIL': ['MILWAUKEE, WI         '],
 'MKG': ['MUSKEGON, MD'],
 'MLB': ['MELBOURNE, FL'],
 'MLI': ['MOLINE, IL'],
 'MLU': ['MONROE, LA'],
 'MMU': ['MORRISTOWN, NJ'],
 'MND': ['MINOT, ND             '],
 'MNW': ['MANITOWOC, WI         '],
 'MOB': ['MOBILE, AL            '],
 'MON': ['MONTREAL, CANADA      '],
 'MOO': ['MOORES, NY            '],
 'MOR': ['MORSES LINE, VT       '],
 'MOS': ['MOSES POINT INTERMEDIATE, AK'],
 'MRC': ['MARINE CITY, MI       '],
 'MRH': ['MOREHEAD CITY, NC     '],
 'MRL': ['MERRILLVILLE, IN      '],
 'MRR': ['MORRISTOWN, NY        '],
 'MRS': ['MARFA, TX (BPS)'],
 'MRY': ['MARYSVILLE, MI        '],
 'MSN': ['TRUAX FIELD - DANE COUNTY, WI'],
 'MSP': ['MINN./ST PAUL, MN     '],
 'MTH': ['No PORT Code (MTH)'],
 'MTY': ['GEN M. ESCOBEDO, Monterrey, MX'],
 'MVD': ['CARRASCO, URUGUAY'],
 'MWH': ['MOSES LAKE GRANT COUNTY ARPT, WA'],
 'MYR': ['MYRTLE BEACH, SC'],
 'NAC': ['NACO, AZ              '],
 'NAS': ['NASSAU, BAHAMAS       '],
 'NBO': ['NAIROBI, KENYA        '],
 'NC8': ['No PORT Code (NC8)'],
 'NCA': ['NORTH CAICOS, TURK & CAIMAN'],
 'NEA': ['NEAH BAY, WA          '],
 'NEC': ['NECHE, ND             '],
 'NEW': ['NEWARK/TETERBORO, NJ  '],
 'NGL': ['No PORT Code (NGL)'],
 'NIA': ['NIAGARA FALLS, NY     '],
 'NIG': ['NIGHTHAWK, WA         '],
 'NIK': ['NIKISKI, AK           '],
 'NK': ['No PORT Code (NK)'],
 'NOG': ['NOGALES, AZ           '],
 'NOL': ['NEW ORLEANS, LA       '],
 'NOM': ['NOM, AK               '],
 'NOO': ['NOONAN, ND            '],
 'NOR': ['NORFOLK, VA           '],
 'NOY': ['NOYES, MN             '],
 'NPT': ['NEWPORT, OR           '],
 'NPV': ['NEWPORT, VT           '],
 'NRG': ['NORTHGATE, ND         '],
 'NRN': ['NORTON, VT            '],
 'NRT': ['NORTH TROY, VT        '],
 'NSV': ['NASHVILLE, TN         '],
 'NWH': ['NEW HAVEN, CT         '],
 'NWL': ['NEW LONDON, CT        '],
 'NWN': ['NEWPORT, VA           '],
 'NYC': ['NEW YORK, NY          '],
 'NYL': ['No PORT Code (NYL)'],
 'OAI': ['No PORT Code (OAI)'],
 'OAK': ['OAKLAND, CA '],
 'OGD': ['OGDENSBURG, NY        '],
 'OGG': ['KAHULUI - MAUI, HI'],
 'OGS': ['No PORT Code (OGS)'],
 'OKC': ['OKLAHOMA CITY, OK     '],
 'OLM': ['No PORT Code (OLM)'],
 'OLY': ['OLYMPIA, WA           '],
 'OMA': ['OMAHA, NE             '],
 'ONT': ['ONTARIO, CA'],
 'OPF': ['OPA LOCKA, FL'],
 'OPH': ['OPHEIM, MT            '],
 'ORI': ['PORT LIONS SPB, AK'],
 'ORL': ['ORLANDO, FL           '],
 'ORO': ['OROVILLE, WA          '],
 'OSW': ['OSWEGO, NY            '],
 'OTM': ['OTAY MESA, CA          '],
 'OTS': ['No PORT Code (OTS)'],
 'OTT': ['OTTAWA, CANADA        '],
 'PAN': ['PANAMA CITY, FL       '],
 'PAR': ['PORT ARTHUR, TX       '],
 'PAS': ['PASCAGOULA, MS        '],
 'PAX': ['PATUXENT RIVER, MD    '],
 'PBB': ['PEACE BRIDGE, NY      '],
 'PCF': ['PORT CANAVERAL, FL    '],
 'PCW': ['No PORT Code (PCW)'],
 'PDN': ['PASO DEL NORTE,TX     '],
 'PEK': ['BEIJING CAPITAL INTL, PRC'],
 'PEM': ['PEMBINA, ND           '],
 'PEN': ['PENSACOLA, FL         '],
 'PER': ['PERTH AMBOY, NJ       '],
 'PEV': ['PORT EVERGLADES, FL   '],
 'PFN': ['No PORT Code (PFN)'],
 'PGR': ['PROGRESO, TX          '],
 'PHF': ['No PORT Code (PHF)'],
 'PHI': ['PHILADELPHIA, PA      '],
 'PHN': ['Collapsed (PHU) 06/15'],
 'PHO': ['PHOENIX, AZ           '],
 'PHR': ['PHARR, TX             '],
 'PHU': ['PORT HURON, MI        '],
 'PIA': ['GREATER PEORIA, IL'],
 'PIE': ['PIEGAN, MT            '],
 'PIN': ['PINE CREEK, MN        '],
 'PIR': ['POINT ROBERTS, WA     '],
 'PIT': ['PITTSBURG, PA         '],
 'PIV': ['PINNACLE ROAD, VT     '],
 'PIZ': ['DEW STATION PT LAY DEW, AK'],
 'PKC': ['POKER CREEK, AK       '],
 'PLB': ['No PORT Code (PLB)'],
 'PNG': ['PORT ANGELES, WA      '],
 'PNH': ['PITTSBURG, NH         '],
 'POE': ['PORT OF EL PASO, TX   '],
 'POM': ['PORTLAND, ME          '],
 'PON': ['PONCE, PR             '],
 'POO': ['PORTLAND, OR          '],
 'POR': ['PORTAL, AZ'],
 'PRE': ['PRESIDIO, TX          '],
 'PRO': ['PROVIDENCE, RI        '],
 'PSC': ['TRI-CITIES - PASCO, WA'],
 'PSE': ['PONCE-MERCEDITA, PR'],
 'PSJ': ['PORT ST JOE, FL       '],
 'PSM': ['PORTSMOUTH, NH        '],
 'PSP': ['PALM SPRINGS, CA'],
 'PTK': ['OAKLAND COUNTY - PONTIAC, MI'],
 'PTL': ['PORTHILL, ID          '],
 'PTO': ['PORT TOWNSEND, WA     '],
 'PTY': ['OMAR TORRIJOS, PANAMA'],
 'PUT': ['PUT-IN-BAY, OH        '],
 'PVD': ['THEODORE FRANCIS - WARWICK, RI'],
 'PWB': ['PASCO, WA             '],
 'RAN': ['RAINER, MN            '],
 'RAY': ['RAYMOND, MT           '],
 'RBT': ['ROBERTS LANDING, MI   '],
 'RCM': ['RICHMOND, VA          '],
 'RDM': ['ROBERTS FIELDS - REDMOND, OR'],
 'RDU': ['RALEIGH/DURHAM, NC    '],
 'REN': ['RENO, NV              '],
 'RFD': ['GREATER ROCKFORD, IL'],
 'RGM': ['RANGELEY, ME (BPS)'],
 'RIF': ['RICHFORT, VT          '],
 'RIO': ['RIO GRANDE CITY, TX   '],
 'RIT': ['ROME, ITALY           '],
 'RIV': ['RIVERSIDE, CA'],
 'RME': ['ROME, NY'],
 'RNO': ['CANNON INTL - RENO/TAHOE, NV'],
 'ROC': ['ROCHESTER, NY         '],
 'ROG': ['ROGERS ARPT, AR'],
 'ROM': ['ROMA, TX              '],
 'ROO': ['ROOSVILLE, MT         '],
 'ROS': ['ROSEAU, MN            '],
 'ROU': ['ROUSES POINT, NY      '],
 'RST': ['ROCHESTER, MN'],
 'RUI': ['RUIDOSO, NM'],
 'RYY': ['No PORT Code (RYY)'],
 'SAA': ['SANTA ANA, CA         '],
 'SAC': ['SACRAMENTO, CA        '],
 'SAG': ['SAGINAW, MI           '],
 'SAI': ['SAIPAN, SPN           '],
 'SAJ': ['SAN JUAN, PR          '],
 'SAN': ['SAN SALVADOR, EL SALVADOR'],
 'SAR': ['SARLES, ND            '],
 'SAS': ['SASABE, AZ            '],
 'SAU': ['ST AUGUSTINE, FL      '],
 'SAV': ['SAVANNAH, GA          '],
 'SBN': ['SOUTH BEND, IN'],
 'SBR': ['SOUTH BREWER, ME      '],
 'SCC': ['BP SPEC COORD. CTR, TX'],
 'SCH': ['No PORT Code (SCH)'],
 'SCL': ['ST CLAIR, MI          '],
 'SCO': ['SCOBEY, MT            '],
 'SDP': ['SAN DIEGO, CA'],
 'SDY': ['SANDUSKY, OH          '],
 'SEA': ['SEATTLE, WA           '],
 'SFB': ['SANFORD, FL           '],
 'SFR': ['SAN FRANCISCO, CA     '],
 'SGF': ['SPRINGFIELD-BRANSON, MO'],
 'SGJ': ['ST AUGUSTINE ARPT, FL'],
 'SGR': ['HULL FIELD, SUGAR LAND ARPT, TX'],
 'SHA': ['SHANNON, IRELAND      '],
 'SHR': ['SHERWOOD, ND          '],
 'SJO': ['ST JOHN, ND           '],
 'SKA': ['SKAGWAY, AK           '],
 'SLC': ['SALT LAKE CITY, UT    '],
 'SLI': ['SAN LUIS OBISPO, CA (BPS)'],
 'SLO': ['SAN LUIS OBISPO, CA   '],
 'SLP': ['SAN LUIS POTOSI #ARPT, MEXICO'],
 'SLS': ['SALINAS, CA (BPS)'],
 'SLU': ['SAN LUIS, AZ          '],
 'SNA': ['SAN ANTONIO, TX       '],
 'SNJ': ['SAN JOSE, CA          '],
 'SNN': ['SANDERSON, TX         '],
 'SNO': ['SAKON NAKHON #ARPT, THAILAND'],
 'SNP': ['ST. PAUL ISLAND, AK'],

In [15]:
print(df.shape)
df.head()

(2914926, 28)

,cicid,i94yr,i94mon,i94cit,i94res,i94port,arrdate,i94mode,i94addr,depdate,...,entdepu,matflag,biryear,dtaddto,gender,insnum,airline,admnum,fltno,visatype
0,8.0,2016.0,11.0,126.0,689.0,CHA,20759.0,2.0,NaN,NaN,...,NaN,NaN,1954.0,02082017,F,2771,NaN,1.329581e+10,NaN,WT
1,18.0,2016.0,11.0,582.0,582.0,NOG,20759.0,9.0,FL,NaN,...,NaN,M,1969.0,11222016,M,1163,NaN,1.361691e+10,NaN,CP
2,19.0,2016.0,11.0,582.0,582.0,NOG,20759.0,9.0,CA,NaN,...,NaN,M,1982.0,03032017,M,1442,NaN,1.364268e+10,NaN,CP
3,65.0,2016.0,11.0,213.0,213.0,NEW,20759.0,1.0,CA,NaN,...,NaN,NaN,1990.0,D/S,M,NaN,UA,1.292481e+10,49,F1
4,67.0,2016.0,11.0,687.0,687.0,ATL,20759.0,1.0,AL,NaN,...,NaN,NaN,1993.0,D/S,M,NaN,DL,1.292481e+10,110,F1

### Step 2: Explore and Assess the Data
#### Explore the Data 
Comments below. We will ultimately use Spark for processing in the data pipeline, but will use Pandas to explore the data first.

In [16]:
df.columns

Index(['cicid', 'i94yr', 'i94mon', 'i94cit', 'i94res', 'i94port', 'arrdate',
       'i94mode', 'i94addr', 'depdate', 'i94bir', 'i94visa', 'count',
       'dtadfile', 'visapost', 'occup', 'entdepa', 'entdepd', 'entdepu',
       'matflag', 'biryear', 'dtaddto', 'gender', 'insnum', 'airline',
       'admnum', 'fltno', 'visatype'],
      dtype='object')

In [17]:
df.biryear.unique()

array([1954., 1969., 1982., 1990., 1993., 1978., 1967., 2000., 1985.,
       1981., 1984., 1989., 1999., 1975., 1986., 1992., 1943., 1980.,
       1948., 1965., 1997., 1950., 1949., 1996., 1991., 1964., 1988.,
       1962., 1955., 1939., 1972., 1970., 1977., 1974., 1963., 1956.,
       1995., 1994., 1951., 1966., 1961., 1979., 1958., 1987., 1959.,
       1983., 1971., 1936., 1968., 1946., 1960., 1947., 1976., 1944.,
       1957., 2001., 1998., 2011., 1952., 2005., 2002., 1953., 1973.,
       1929., 1941., 2008., 1945., 2010., 2014., 2015., 2012., 1940.,
       2007., 1937., 2006., 2009., 2004., 1942., 2016., 1938., 2003.,
       2013.,   nan, 1932., 1933., 1928., 1934., 1919., 1935., 1931.,
       1925., 1930., 1927., 1924., 1920., 1926., 1921., 1918., 1922.,
       1923., 1917., 1904., 1912., 1901., 2017., 1916., 1911., 1906.,
       1905.])

In [18]:
df.i94bir.unique()

array([ 62.,  47.,  34.,  26.,  23.,  38.,  49.,  16.,  31.,  35.,  32.,
        27.,  17.,  41.,  30.,  24.,  73.,  36.,  68.,  51.,  19.,  66.,
        67.,  20.,  25.,  52.,  28.,  54.,  61.,  77.,  44.,  46.,  39.,
        42.,  53.,  60.,  21.,  22.,  65.,  50.,  55.,  37.,  58.,  29.,
        57.,  33.,  45.,  80.,  48.,  70.,  56.,  69.,  40.,  72.,  59.,
        15.,  18.,   5.,  64.,  11.,  14.,  63.,  43.,  87.,  75.,   8.,
        71.,   6.,   2.,   1.,   4.,  76.,   9.,  79.,  10.,   7.,  12.,
        74.,   0.,  78.,  13.,   3.,  nan,  84.,  83.,  88.,  82.,  97.,
        81.,  85.,  91.,  86.,  89.,  92.,  96.,  90.,  95.,  98.,  94.,
        93.,  99., 112., 104., 115.,  -1., 100., 105., 110., 111.])

In [19]:
df.i94port.unique()

array(['CHA', 'NOG', 'NEW', 'ATL', 'BOS', 'MIA', 'FTL', 'NYC', 'DAL',
       'HOU', 'ORL', 'LOS', 'SFR', 'PHI', 'CHI', 'SAJ', 'WAS', 'DET',
       'SFB', 'SPM', 'AGA', 'SAI', 'HHW', 'DEN', 'LVG', 'NOL', 'SEA',
       'TAM', 'RDU', 'SDP', 'SAC', 'PHO', 'BAL', 'ELP', 'ONT', 'AUS',
       'SLC', 'SNJ', 'NCA', 'XXX', 'SNA', 'STT', 'FMY', 'PVD', 'TST',
       'CLT', 'OAK', 'SHA', 'MAA', 'CHM', 'PEV', 'NYL', 'LAR', 'OTT',
       'BRO', 'SYS', 'FPT', 'BUF', 'SAV', 'TUC', 'CLE', 'NSV', 'OGG',
       'VCV', 'X96', 'WPB', 'HAR', 'CLM', 'TOR', 'POO', 'CIN', 'W55',
       'PIT', 'STL', 'MDT', 'PSP', 'OTM', 'TEC', 'PEM', 'BLA', 'LNB',
       'DOU', 'GAL', 'ABQ', 'MCA', 'OPF', '5T6', 'ANC', 'KAN', 'MMU',
       'RFD', 'FPR', 'CLS', 'INT', 'RNO', 'CHL', 'SYR', 'ROC', 'HPN',
       'BED', 'INP', 'MIL', 'HIG', 'LAU', 'SGR', 'BGM', 'GRB', 'PTK',
       'SRQ', 'CRQ', 'DAB', 'JAC', 'SUM', 'YGF', 'DUB', 'OKC', 'SAA',
       'KEY', 'ALB', 'NOR', 'AXB', 'CRP', 'ORO', 'SWE', 'MEM', 'FAJ',
       'MON', 'CHR', 'FAR', 'KOA', 'DER', 'FOK', 'NAS', 'VNY', 'ADS',
       'DLR', 'CAL', 'STR', 'HID', 'PHU', 'FRB', 'CHS', 'CLG', 'MTH',
       'JMZ', 'LYN', 'LEX', 'HAL', 'DOV', 'X44', 'FRE', 'MLB', 'MHT',
       'SWF', 'BQN', 'OMA', 'BRG', 'GRP', 'YIP', 'HTM', 'MOB', 'CXO',
       'VIC', 'PON', 'CRA', 'SPO', 'WIN', 'SNN', 'SPE', 'AGU', 'PSM',
       'GRF', 'LIH', 'WIL', 'APF', 'RST', 'NIA', 'OGD', 'EDA', 'ICT',
       'BHX', 'PNG', 'HLG', 'GSP', 'ADW', 'ATW', 'FBA', 'PRO', 'ROS',
       'JKM', 'DSM', 'PCW', 'PHF', 'MAF', 'ABS', 'PIE', 'HAM', 'MOR',
       'RYY', 'SDY', 'HEL', 'PIR', 'CAK', 'JFA', 'RCM', 'DPA', 'REN',
       'BTN', 'LAN', 'ERI', 'LON', 'SUS', 'EPI', 'LEW', 'PBB', 'THO',
       'ANZ', 'BOA', 'EGP', 'FTC', 'GPM', 'LLB', 'MAS', 'MOO', 'NRG',
       'PDN', 'PGR', 'PHR', 'POR', 'PRE', 'ROO', 'SKA', 'TRO', 'WBE',
       'YSL', 'AGN', 'AND', 'CNA', 'COB', 'DAC', 'FWA', 'MET', 'RIF',
       'ROM', 'SSM', 'ADT', 'LCB', 'LUK', 'BWA', 'LOI', 'MRC', 'NAC',
       'COL', 'FAL', 'FER', 'ABG', 'ALC', 'BEB', 'BEE', 'CHT', 'DNA',
       'FRT', 'FTK', 'MAD', 'NIG', 'NRN', 'NRT', 'PNH', 'PTL', 'RAY',
       'ROU', 'VIB', 'VNB', 'BWM', 'DLB', 'DNS', 'DVL', 'HNS', 'MAI',
       'NEC', 'NOO', 'SJO', 'SLU', 'VCB', 'WAL', 'WAR', 'CRY', 'SHR',
       'TUR', 'WHO', 'FAB', 'SAR', 'LWT', 'SAS', 'FTF', 'BAU', 'ANT',
       'HVR', 'LUB', 'RIO'], dtype=object)

For the I94 immigration data, we can clean the following columns: 

Clean `biryear` by ensuring data values not existing between 1900 and 2016 are turned to NULL. 

Similarly for `i194bir` with values outside 0 to 116. For `i94port`, drop rows with 'XXX' (unknown as specified in header file)

Also, not all columns are relevant. Keep only those that will be used in the dimension table.

In [69]:
spark = SparkSession.builder \
    .config("spark.jars.packages","saurfang:spark-sas7bdat:2.0.0-s_2.11") \
    .enableHiveSupport() \
    .getOrCreate()

def file_to_spark_df(file):
    return spark.read.format('com.github.saurfang.sas.spark').load(file)

def clean_i94_data(df):
    columns_to_keep = {'i94yr', 'i94mon', 'i94cit', 'i94port', 'i94mode', 'i94bir', 'arrdate', 'depdate', 'i94visa'}
    temp = df.filter(df.i94port.isin(list(valid_port.keys())))
    return temp.select([c for c in temp.columns if c in columns_to_keep])

In [71]:
immigration_df = clean_i94_data(file_to_spark_df(sas_filenames[0]))
immigration_df.show()

+------+------+------+-------+-------+-------+-------+------+-------+
| i94yr|i94mon|i94cit|i94port|arrdate|i94mode|depdate|i94bir|i94visa|
+------+------+------+-------+-------+-------+-------+------+-------+
|2016.0|  11.0| 126.0|    CHA|20759.0|    2.0|   null|  62.0|    2.0|
|2016.0|  11.0| 582.0|    NOG|20759.0|    9.0|   null|  47.0|    2.0|
|2016.0|  11.0| 582.0|    NOG|20759.0|    9.0|   null|  34.0|    2.0|
|2016.0|  11.0| 213.0|    NEW|20759.0|    1.0|   null|  26.0|    3.0|
|2016.0|  11.0| 687.0|    ATL|20759.0|    1.0|   null|  23.0|    3.0|
|2016.0|  11.0| 254.0|    BOS|20759.0|    1.0|20828.0|  38.0|    3.0|
|2016.0|  11.0| 692.0|    MIA|20759.0|    1.0|20768.0|  49.0|    1.0|
|2016.0|  11.0| 690.0|    ATL|20759.0|    1.0|20848.0|  16.0|    2.0|
|2016.0|  11.0| 696.0|    ATL|20759.0|    1.0|20937.0|  31.0|    2.0|
|2016.0|  11.0| 692.0|    FTL|20759.0|    1.0|   null|  35.0|    2.0|
|2016.0|  11.0| 687.0|    MIA|20759.0|    1.0|20764.0|  38.0|    2.0|
|2016.0|  11.0| 689.0|    MIA|20759.0|    1.0|   null|  32.0|    3.0|
|2016.0|  11.0| 254.0|    NYC|20759.0|    1.0|20763.0|  26.0|    2.0|
|2016.0|  11.0| 245.0|    NYC|20759.0|    1.0|20772.0|  27.0|    2.0|
|2016.0|  11.0| 691.0|    MIA|20759.0|    1.0|20768.0|  17.0|    2.0|
|2016.0|  11.0| 504.0|    FTL|20759.0|    1.0|20763.0|  31.0|    2.0|
|2016.0|  11.0| 689.0|    MIA|20759.0|    1.0|20763.0|  41.0|    2.0|
|2016.0|  11.0| 687.0|    DAL|20759.0|    1.0|20764.0|  34.0|    2.0|
|2016.0|  11.0| 692.0|    DAL|20759.0|    1.0|20762.0|  30.0|    2.0|
|2016.0|  11.0| 582.0|    HOU|20759.0|    1.0|20809.0|  24.0|    2.0|
+------+------+------+-------+-------+-------+-------+------+-------+
only showing top 20 rows

In [10]:
temp_df = pd.read_csv('data/GlobalLandTemperaturesByCity.csv', sep=',')

In [11]:
temp_df.head()

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
0,1743-11-01,6.068,1.737,Århus,Denmark,57.05N,10.33E
1,1743-12-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
2,1744-01-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
3,1744-02-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
4,1744-03-01,NaN,NaN,Århus,Denmark,57.05N,10.33E

In [21]:
unique_temps = temp_df.AverageTemperature.unique()
print(max(unique_temps))
print(min(unique_temps))

39.650999999999996
-42.70399999999999

For the temperature data, we can clean the following columns:

Values for `AverageTemperatures` seem to be reasonable so no need to remove outliers

Drop rows with `AverageTemperature == NaN`

Drop rows with duplicate locations

In [77]:
@udf()
def city_to_port(city):
    for key in valid_port:
        if city.lower() in valid_port[key][0].lower():
            return key

def csv_to_spark_df(file):
    return spark.read.format("csv").option("header", "true").load(file)

def clean_temp_data(temp_df):
    temp_df = temp_df.filter(temp_df.AverageTemperature != 'NaN')
    temp_df = temp_df.dropDuplicates(['City', 'Country'])
    temp_df = temp_df.withColumn("i94port", city_to_port(temp_df.City))
    return temp_df.filter(temp_df.i94port != 'null')

temp_df = clean_temp_data(csv_to_spark_df("data/GlobalLandTemperaturesByCity.csv"))
# temp_df.show()

In [64]:
%env
%env IPYTHON=1
%env PYSPARK_PYTHON=/usr/local/bin/python3
%env PYSPARK_DRIVER_PYTHON=/usr/local/bin/python3
%env PYSPARK_DRIVER_PYTHON_OPTS="notebook"

env: IPYTHON=1
env: PYSPARK_PYTHON=/usr/local/bin/python3
env: PYSPARK_DRIVER_PYTHON=/usr/local/bin/python3
env: PYSPARK_DRIVER_PYTHON_OPTS="notebook"

### Step 3: Define the Data Model

#### 3.1 Conceptual Data Model

Dimension Tables

`dim_demographics` will contain the following columns from the I94 data. 

- `I94YR` : 4 digit year
- `I94MON` : Numeric month
- `I94CIT` : This format shows all the valid and invalid codes for processing
- `I94PORT` : This format shows all the valid and invalid codes for processing
- `I94MODE` : There are missing values as well as not reported (9)
- `I94BIR` : Age of Respondent in Years
- `ARRDATE` : Arrival date
- `DEPDATE` : Departure date
- `I94VISA` : Visa code (Business/Pleasure/Student)

`dim_temperature` will contain the following columns from the temperature dataset. Most are self explanatory names.

- `I94PORT` : map the city/country/location to the corresponding I94 port code.
- `AverageTemperature`
- `City`
- `Country`
- `Latitude`
- `Longitude`

Fact Tables

`fact_immigration` allows queries in line with the intended purpose of the project:

- `I94YR` : 4 digit year
- `I94MON` : Numeric month
- `I94CIT` : This format shows all the valid and invalid codes for processing
- `I94PORT` : This format shows all the valid and invalid codes for processing
- `I94MODE` : There are missing values as well as not reported (9)
- `I94BIR` : Age of Respondent in Years
- `ARRDATE` : Arrival date
- `DEPDATE` : Departure date
- `I94VISA` : Visa code (Business/Pleasure/Student)
- `AverageTemperature`

#### 3.2 Mapping Out Data Pipelines

1. clean the data and create the dimension table for both i94 and temperature datasets
2. create fact table by joining both dimension tables on i94port and write to parquet file partitioned by i94port


### Step 4: Run Pipelines to Model the Data
#### 4.1 Create the data model

Build the data pipelines to create the data model.

In [ ]:
immigration_df = clean_i94_data(file_to_spark_df(sas_filenames[0]))
immigration_df.write \
    .mode("append") \
    .partitionBy("i94port") \
    .parquet("/tables/immigration.parquet")

temp_df = clean_temp_data(csv_to_spark_df("data/GlobalLandTemperaturesByCity.csv"))
temp_df.write \
    .mode("append") \
    .partitionBy("i94port") \
    .parquet("/tables/temperature.parquet")

# Create temporary views of the immigration and temperature data
immigration_df.createOrReplaceTempView("immigration_view")
temp_df.createOrReplaceTempView("temp_view")

# Create the fact table by joining the immigration and temperature views
fact_table = spark.sql("""
SELECT immigration_view.i94yr as year,
       immigration_view.i94mon as month,
       immigration_view.i94cit as city,
       immigration_view.i94port as i94port,
       immigration_view.i94mode as i94mode,
       immigration_view.i94bir as i94bir,
       immigration_view.arrdate as arrival_date,
       immigration_view.depdate as departure_date,
       immigration_view.i94visa as reason,
       temp_view.AverageTemperature as temperature,
FROM immigration_view
JOIN temp_view ON (immigration_view.i94port = temp_view.i94port)
""")

# Write fact table to parquet files partitioned by i94port
fact_table.write \
    .mode("append") \
    .partitionBy("i94port") \
    .parquet("/results/fact.parquet")

#### 4.2 Data Quality Checks

In [ ]:
def count_check(df):
    return df.count() == 0 

def integrity_check(df_immigration, df_temp):
    return df_immigration.select(col("i94port")).distinct() \
         .join(df_temp, df_immigration["i94port"] == df_temp["i94port"], "left_anti") \
         .count() == 0

def quality_check(df_immigration, df_temp):
    return count_check(df_immigration) and count_check(df_temp) \
        and integrity_check(df_immigration, df_temp)

# Perform data quality check
quality_check(df_immigration, df_temp)

#### 4.3 Data dictionary

Dimension Tables

`dim_demographics` will contain the following columns from the I94 data. 

- `I94YR` : 4 digit year
- `I94MON` : Numeric month
- `I94CIT` : This format shows all the valid and invalid codes for processing
- `I94PORT` : This format shows all the valid and invalid codes for processing
- `I94MODE` : There are missing values as well as not reported (9)
- `I94BIR` : Age of Respondent in Years
- `ARRDATE` : Arrival date
- `DEPDATE` : Departure date
- `I94VISA` : Visa code (Business/Pleasure/Student)

`dim_temperature` will contain the following columns from the temperature dataset. Most are self explanatory names.

- `I94PORT` : map the city/country/location to the corresponding I94 port code.
- `AverageTemperature`
- `City`
- `Country`
- `Latitude`
- `Longitude`

Fact Tables

`fact_immigration` allows queries in line with the intended purpose of the project:

- `I94YR` : 4 digit year
- `I94MON` : Numeric month
- `I94CIT` : This format shows all the valid and invalid codes for processing
- `I94PORT` : This format shows all the valid and invalid codes for processing
- `I94MODE` : There are missing values as well as not reported (9)
- `I94BIR` : Age of Respondent in Years
- `ARRDATE` : Arrival date
- `DEPDATE` : Departure date
- `I94VISA` : Visa code (Business/Pleasure/Student)
- `AverageTemperature`